.flex {
	display: flex;
	justify-content: center;
	gap: 3px;
}

.box {
	height: 60px;
	width: 50px;
	border: 1px dashed red;
	background-color: rgb(255, 20, 20, .5);
	transition: 1.5s;
}

.box:first-child {
	margin-right: auto;
}

.box:last-child {
	margin-left: auto;
}
.box:hover {
	background-color: rgb(240, 0, 0, 1);
}